.calendar {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.calendar-day {
  width: 100%;
  height: 75px;
  position: relative;
  border: 1px solid #a6a6a6;
  text-align: center;
}

.calendar-day p {
  position: absolute;
  left: 10px;
}

.selected p {
  color: #cc0000;
  font-weight: bold;
}
